@page
@model WebApp.Pages.Samples.BasicEventsModel
@{
    //inside this @ block is C# coding enivornment
    //set the browse tab title
    ViewData["Title"] = "Basic Events";
}

<h1>Razor Page Event Basics</h1>

@if(!string.IsNullOrWhiteSpace(Model.FeedBack))
{
    <p>@Model.FeedBack</p>
}
